<div class="main newusers-edit">
  <div class="container">
      <div class="form newusers-form">
        <div class="form-body">
          <%= form_tag("/newusers/#{@newuser.id}/update", {multipart: true}) do %>
            <p>ユーザー名</p>
            <input name="name" value="<%= @newuser.name %>">
            <p>メールアドレス</p>
            <input name="email" value="<%= @newuser.email %>">
            <p>ユーザー画像</p>
            <input name="image" type="file" value="<%= @newuser.image %>">
            <%# <% if @newuser.user_type=2 %> 
            <p>一言</p>
            <input name="content" placeholder="20文字以内で入力してください" value="<%= @newuser.content %>">
            <p>住所</p>
            <input name="address" value="<%= @newuser.address %>">
            <p>アクセス</p>
            <input name="access" placeholder="例）○○駅から徒歩5分" value="<%= @newuser.access%>">
            <input type="submit" value="保存">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>