<div class="main newusers-index">
  <div class="container">
    <div id="search-area">
      <p>エリアから探す</p>
    </div>

    <div class="search-area-nav__container" id="search-conts">
      <ul class="search-area-nav__list">
        <li class="search-area-nav__item">
        
        </li>
      </ul>
    </div>
  
    <div class="newusers-index-list">
      <% @newusers.each do |newuser| %>
        <div class="newusers-index-item">
          <div class="newuser-left">
            <img src="<%= "/newuser_images/#{newuser.image}" %>" alt="鍼灸師さんのユーザー画像">
          </div>
          <div class="newuser-right">
            <div class="newuser-right-name">
              <%= link_to(newuser.name, "/newusers/#{newuser.id}") %>
              <%= newuser.prefecture %>
            </div>
            <div class="newuser-right-follow">
              <% if @current_newuser.present? && newuser.id != @current_newuser.id %>
                <% if newuser.followed_by?(@current_newuser) %>
                  <%= link_to newuser_relationships_path(newuser.id), method: :delete do %>
                    <span class="btn-follow">フォロー中</span>
                  <% end %>
                <% else %>
                  <%= link_to newuser_relationships_path(newuser.id), method: :post do %>
                    <span class="btn-unfollow">フォローする</span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>