    <div class="main newusers-show">
  <div class="container">
    <div class="newuser">
      <img src="<%= "/newuser_images/#{@newuser.image}" %>" alt="ユーザー画像">    
      <p><%= @newuser.name %><p>
      <%# ログインしているユーザーのみ編集できる %>
      <% if @current_newuser.present? && @newuser.id == @current_newuser.id %>
        <%= link_to("ユーザー情報編集", "/newusers/#{@newuser.id}/edit", class: "newuser__link, edit-user") %>
      <% end %>
    </div>
    <ul class="newuser-tabs">
      <% if @current_newuser.present? && @current_newuser.user_type==2 %>
        <li class="active"><%= link_to("投稿", "/newusers/#{@newuser.id}") %></li>
        <li><%= link_to("プロフィール", "/newusers/#{@newuser.id}/profile", class: "newuser__link, profile-user") %></li>
        <li><%= link_to("フォロワー", "/newusers/#{@newuser.id}/follower", class: "newuser__link, follower-user") %></li>
      <% end %>
        <li><%= link_to("フォロー中", "/newusers/#{@newuser.id}/following", class: "newuser__link, following-user") %></li>
        <li><%= link_to("いいね", "/newusers/#{@newuser.id}/likes", class: "newuser__link, like-user") %></li>
        
    </ul>
    <% if @current_newuser.present? && @current_newuser.id %>
      <% @newuser.newposts.each do |newpost| %>
        <div class="newposts-index-item">
          <div class="newpost-left">
            <img src="<%= "/newuser_images/#{newpost.newuser.image}" %>" alt="鍼灸師さんのユーザー画像"> 
          </div>
          <div class="newpost-right">
            <div class="newpost-name">
              <%= link_to(newpost.newuser.name, "/newusers/#{newpost.newuser.id}") %>
            </div>
            <div class="newpost-post">
              <%= link_to(newpost.content, "/newposts/#{newpost.id}") %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>