<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-name">
        <img src = "<%= "/prouser_images/#{@prouser.image}" %>">
        <%= link_to(@prouser.name, "/prousers/#{@prouser.id}")%>
      </div>
      <p>
        <%= @post.content %>
      </p>
    
      <div class="post-time">
        <%= @post.created_at %>
      </div>

      <% if @current_prouser %>
        <% if Like.find_by(prouser_id: @current_prouser.id, post_id: @post.id) %>
          <%= link_to( "/likes/#{@post.id}/prouser_destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
          <% end %>
        <% else %>
          <%= link_to("/likes/#{@post.id}/prouser_create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
          <% end %>
        <% end %>
      <% end %>
      

      <% if @current_user %>
        <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
          <%= link_to( "/likes/#{@post.id}/user_destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
          <% end %>
        <% else %>
          <%= link_to("/likes/#{@post.id}/user_create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
          <% end %>
        <% end %>
      <% end %>



      <% if @current_prouser && @prouser.id == @current_prouser.id %>
        <div class="post-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"})%>
        </div>
      <% end %>
      <%= @likes_count %>
    </div>
  </div>


    <% if @current_prouser %>
      <% @comments.each do |comment| %>
        <div class="posts-index-item">
          <div class="post-left">
            <img src="<%= "/prouser_images/#{comment.prouser.image}" %>">
          </div>
          <div class="post-right">
            <div class="post-prouser-name">
              <%= link_to(comment.prouser.name, "/prousers/#{comment.prouser.id}") %>
            </div>
            <%= link_to(comment.comment_content, "/posts/#{comment.id}") %>
          </div> 
        </div>
      <% end %>
    <% end %>

    <% if @current_user %>
      <% @comments.each do |comment| %>
        <div class="posts-index-item">
          <div class="post-left">
            <img src="<%= "/user_images/#{comment.user.image}" %>">
          </div>
          <div class="post-right">
            <div class="post-user-name">
              <%= link_to(comment.user.name, "/users/#{comment.user.id}") %>
            </div>
            <%= link_to(comment.comment_content, "/posts/#{comment.id}") %>
          </div> 
        </div>
      <% end %>
    <% end %>
  
    

      

    
  

  
    <% if @current_prouser %>
      <%= form_tag("/comments/#{@post.id}/prouser_create") do %>
        <div class="form">
          <div class="form-body">
            <textarea name="comment_content" placeholder="200文字以内で入力してください"></textarea>
            <input type="submit" value="投稿">
          </div>
        </div>
      <% end %>
    <% end %>
    
    <% if @current_user %>
      <%= form_tag("/comments/#{@post.id}/user_create") do %>
        <div class="form">
          <div class="form-body">
            <textarea name="comment_content" placeholder="200文字以内で入力してください"></textarea>
            <input type="submit" value="投稿">
          </div>
        </div>
      <% end %>
    <% end %>
</div>