<div class="main prouser-show">
  <div class="container">
    <div class="prouser">
      <img src="<%= "/prouser_images/#{@prouser.image}" %>">
      <h2><%= @prouser.name %></h2>
      <% if @prouser.id == @current_prouser.id %>
        <%= link_to("編集", "/prousers/#{@prouser.id}/edit") %>
      <% end %>
    </div>
    
    <ul class="prouser-tabs">
      <li><%= link_to("投稿", "/prousers/#{@prouser.id}") %></li>
      <li><%= link_to("いいね!", "/prousers/#{@prouser.id}/likes") %></li>
      <li class="active"><%= link_to("プロフィール", "/prousers/#{@prouser.id}/profile") %></li>
    </ul>
    <div class="posts-index-item">
      <div class="prousers-profile">
        <ul>
          <li><%= @prouser.name %></li>
          <li><%= @prouser.content %></li>
          <li><%= @prouser.adress %></li>
          <li><%= @prouser.access %></li>
          <li><%= @prouser.email %></li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>