<div class="main newposts-show">
  <div class="container">
    <div class="newposts-show-item">
      <div class="newpost-name">
        <img src = "<%= "/newuser_images/#{@newuser.image}" %>" alt="鍼灸師さんのユーザー画像">
        <%= link_to(@newuser.name, "/newusers/#{@newuser.id}")%>
      </div>
      <div class="newpost-content">
        <p><%= @newpost.content %></p>
      </div>
    
      <div class="newpost-time">
        <%= @newpost.created_at %>
      </div>
      <% if Newlike.find_by(user_id: @current_newuser.id, post_id: @newpost.id) %>
          <%= link_to("/newlikes/#{@newpost.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart newlike-btn"></span>
          <% end %>
        <% else %>
          <%= link_to("/newlikes/#{@newpost.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart newlike-btn-unlike"></span>
          <% end %>
      <% end %>

      <%= @newlikes_count %>


      <%# <% if @current_newuser.present? && @current_newuser == @newpost.newuser_id %> 
      <% if @current_newuser.present? && @current_newuser.id == @newpost.newuser_id %>
        <div class="newpost-menus">
          <%= link_to("編集", "/newposts/#{@newpost.id}/edit") %>
          <%= link_to("削除", "/newposts/#{@newpost.id}/destroy", {method: "post"})%>
        </div>
      <% end %> 
    </div>
    
      <div class="newcomment-index">
      <div class="container">
        <% @newcomments.each do |newcomment| %>
          <div class="newcomment-index-item">
            <div class="newcomment-left">
              <img src="<%= "/newuser_images/#{newcomment.newuser.image}" %>" alt="ユーザー画像">
            </div>
            <div class="newcomment-right">
              <div class="newcomment-name">
                <%= link_to(newcomment.newuser.name, "/newusers/#{newcomment.newuser.id}") %>
              </div>
              <div class="newcomment-content">
                <%= newcomment.content %>
              </div>
            </div> 
            
            <% if @current_newuser.present? && @newpost.newuser_id %>
            <div class="newcomment-menus">
              <%= link_to("削除", "/newcomments/#{@newpost.id}/destroy", {method: "post"})%>
            </div>
            <% end %> 
          </div>
        <% end %>
      </div>
    </div>

    <div class="newcomment-new">
      <div class="container">
        <%= form_tag("/newcomments/#{@newpost.id}/create") do %>
          <div class="form">
            <div class="form-body">
              <textarea name="content" placeholder="200文字以内でコメントを入力してください"></textarea>
              <input type="submit" value="投稿">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>