<!DOCTYPE html>
<html>
  <head>
    <title>鍼灸師さんとのマッチングアプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
  <div class="cantainer">
  <header>
  <div class="header-logo">
      <% if @current_newuser %>
          <%= link_to("NeedLee", "/newposts/index") %>
        <% else %>
          <%= link_to("NeedLee", "/") %>
        <% end %>
      </div>

    <ul class="header-menus-item">
      <% if !@current_newuser.nil? %>
        <li><%= link_to(@current_newuser.name, "/newusers/#{@current_newuser.id}") %></li>
      <% end %>
        
      <% if !@current_newuser.nil? && @current_newuser.user_type==2 %> 
        <li><%= link_to("new新規投稿ページ", "/newposts/new") %></li>
      <% end %>
      <% if @current_newuser.nil? %> 
        <li><%= link_to("new新規ユーザー登録", "/newusers/signup") %></li>
        <li><%= link_to("newログイン", "/newusers/login") %></li>
      <% end %>
      <% if !@current_newuser.nil? %>
        <li><%= link_to("new鍼灸師さん一覧ページ", "/newusers/index") %></li>
        <li><%= link_to("new投稿一覧ページ", "/newposts/index") %></li>
        <li><%= link_to("newログアウト", "/newusers/logout", {method: :post}) %></li>
      <% end %>

    </ul>
  </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
