<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%# 初期のズーム倍率1、最小倍率1、ズームの操作不可 %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>お気に入りの鍼灸師さんが見つかるマッチングアプリ | NeedLee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="header">
        <% if @current_newuser %>
          <%= link_to image_tag("/assets/logo.png", class:"header-logo"), "/newposts/index" %>
        <% else %>
          <%= link_to image_tag("/assets/logo.png", class:"header-logo"), "/" %>
        <% end %>
      
        <ul class="header-menu__list">
          <li class="header-menu__item">
          <%# ユーザーがログインしている時 %>
          <% if !@current_newuser.nil? %>
            <%= link_to(@current_newuser.name, "/newusers/#{@current_newuser.id}", class: "header-menu__link") %>
            <%= link_to("鍼灸師さん一覧", "/newusers/index", class: "header-menu__link") %>
            <%= link_to("投稿一覧", "/newposts/index", class: "header-menu__link") %>
            <%= link_to("ログアウト", "/newusers/logout", class: "header-menu__link", method: :post) %>
          <% end %>
        
          <%# user_type==2(鍼灸師さん)がログインしている時 %>
          <% if !@current_newuser.nil? && @current_newuser.user_type==2 %> 
            <%= link_to("新規投稿", "/newposts/new", class: "header-menu__link") %>
          <% end %>
          
          <%# ログイン状態でない時 %>
          <% if @current_newuser.nil? %> 
            <%= link_to("新規ユーザー登録", "/newusers/signup", class: "header-menu__link") %>
            <%= link_to("ログイン", "/newusers/login", class: "header-menu__link") %>
          <% end %>
          </li>
        </ul>
        <div class="header-nav">
          <div class="header-nav-trigger">
            <img src="/assets/open.png" alt="メニューを開くボタン" id ="menu-btn">
          </div>
        </div>
      </div>

      <div class="header-nav__container" id="menu-conts">
        <ul class="header-nav__list">
          <li class="header-nav__item">
            
            <% if !@current_newuser.nil? %>
              <%= link_to(@current_newuser.name, "/newusers/#{@current_newuser.id}", class: "header-nav__link") %>
              <%= link_to("鍼灸師さん一覧", "/newusers/index", class: "header-nav__link") %>
              <%= link_to("投稿一覧", "/newposts/index", class: "header-nav__link") %>
              <%= link_to("ログアウト", "/newusers/logout", class: "header-nav__link", method: :post) %>
            <% end %>
            
              <%# user_type==2(鍼灸師さん)がログインしている時 %>
            <% if !@current_newuser.nil? && @current_newuser.user_type==2 %> 
                <%= link_to("新規投稿", "/newposts/new", class: "header-nav__link") %>
            <% end %>
          
            <%# ログイン状態でない時 %>
            <% if @current_newuser.nil? %> 
              <%= link_to("新規ユーザー登録", "/newusers/signup", class: "header-nav__link") %>
              <%= link_to("ログイン", "/newusers/login", class: "header-nav__link") %>
            <% end %>
          </li>
        </ul>
      </div>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
    
  </body>
</html>
